torch==2.4.1
git+https://github.com/openai/CLIP.git
pyheif
requests==2.31.0
clip-by-openai
matplotlib==3.9.0
whatimage
streamlit==1.39.0
Pillow==10.3.0
opencv-python==4.10.0.84
pyaml==24.9.0
numpy==1.26.4
